body {
  box-sizing: border-box;
}

main {
  width: 635px;
  height: 850px;
  margin: 0 auto;
  padding: 10px 13px 10px 14px;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Verdana;
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    rgba(3, 56, 244, 0.71) 0%,
    rgba(224, 37, 206, 0.79) 93.75%
  );
}

.aboutMe {
  width: 296px;
  height: 750px;
  margin-right: 15px;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  width: 253px;
  height: 116px;
  margin: 20px 40px;

  display: inline-block; /* центрировать..*/
  vertical-align: middle; /* ..по вертикали */
  line-height: 100%;
}

.image {
  width: 110px;
  height: 115px;
  float: left;
  margin-right: 20px;
}

.sName {
  font-family: Montserrat;
  font-size: 15px;
  color: #cecaca;
}

.fName {
  font-family: Montserrat;
  font-size: 25px;
  color: #ffffff;
}

.proff {
  font-family: Montserrat;
  font-size: 10px;
  color: #cecaca;
}

.contacts {
  width: 296px;
  font-family: Calibri;
  font-size: 15px;
  line-height: 250%;
  color: #ffffff;
  margin: 20px 0px;
}

.contacts li {
  width: 260px;
  height: 38px;
  margin-bottom: 5px;
  background: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
  list-style-type: none;
  text-align: center;
}

.objective {
  width: 260px;
  font-family: Calibri;
  font-size: 15px;
  line-height: 100%;
  color: #ffffff;
  margin: 0;
  background: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
  text-align: center;
}

.lang {
  width: 260px;
  font-family: Calibri;
  font-size: 15px;
  line-height: 100%;
  color: #ffffff;
  margin: 0;
  margin-top: 12px;
  background: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
  text-align: center;
}

.social {
  width: 260px;
  font-family: Calibri;
  font-size: 15px;
  line-height: 100%;
  color: #ffffff;
  margin: 0;
  margin-top: 12px;
  background: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
  text-align: center;
}

.hobbies {
  width: 252px;
  height: 90px;
  margin: 20px 12px;
}

.skills {
  width: 321px;
  height: 750px;
  background: #ffffff;
  border-radius: 10px;
}

.wrapper {
  margin-left: 15px;
}

.skillsHeader {
  width: 154px;
  height: 24px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height, or 129% */
  color: #ffffff;

  /* line-height: 0%; */
  margin-top: 20px;
  background: #545454;
  border-radius: 5px;
  text-align: center;
}

.companyName {
  font-family: Calibri;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  color: #343434;
}

.period {
  font-family: Calibri;
  font-weight: normal;
  font-size: 9px;
  line-height: 18px;
  /* identical to box height, or 200% */
  color: #73808d;
}

.wrapper p {
  font-family: Calibri;
  font-weight: normal;
  font-size: 9px;
  line-height: 14px;
  /* or 156% */
  color: rgba(0, 0, 0, 0.8);
}

.wrapper ul {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  list-style-type: none;
  flex-wrap: wrap;
  margin-left: -30px;
  justify-content: stretch;
}

.wrapper ul li {
  width: 40px;
  height: 60px;
  margin: 15px 20px;
}

.hobbies {
  width: 283px;
  height: 83px;
}

footer {
  font-size: 12px;
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  list-style-type: none;
}

.logo {
  border-radius: 10px;
  height: 30px;
  width: 60px;
}
